/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    background-color: #111;
}

header .logo {
    font-size: 2rem;
    font-weight: bold;
}

.telegram-icon img {
    width: 40px;
    height: 40px;
}

/* Hero Section */
.hero {
    background-color: #181a1b; /* Colore di sfondo */
    color: white;
    padding: 80px 20px;
}

.hero h2 {
    font-size: 3rem;
    animation: fadeIn 2s ease-in-out;
}

.hero p {
    font-size: 1.5rem;
    margin-top: 20px;
}

/* Animazioni */
@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

/* Why Us Section */
.why-us {
    color: white;
    background-color: rgb(136, 20, 165);
    padding: 60px 20px;
}

.feature-box {
    background-color: plum;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease-in-out;
    color: white;
}

.feature-box:hover {
    transform: translateY(-10px);
}

.feature-icon {
    width: 50px;
    height: 50px;
    margin-bottom: 15px;
}

/* Footer */
footer {
    background-color: #111;
    color: white;
    position: fixed; /* Fissa il footer in fondo alla pagina */
    bottom: 0; /* Posiziona il footer sul fondo */
    width: 100%; /* Larghezza completa */
    text-align: center; /* Allinea il testo al centro */
    padding: 10px 0; /* Aggiunge un po' di spazio dentro il footer */
}
